*{
  margin: 0px;
  padding: 0px;
}

.nav-content{
  padding: 5px 15px;
  max-width: 700px;
  height: 60px;
  margin: auto;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-content a{
  font-size: 25px;
  text-decoration: none;
  color: crimson;
  margin: 0px 10px;
}
 .home-content{
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
} 
.movie-list{
  margin: 20px 15px;
  padding: 10px ;
  background-color: white;
  border: 1px solid rgba(80,80,80,0.420);
  
  
}
.movie-list:hover{
  box-shadow: 5px 5px 15px rgba(86,86,86, 0.417);
  transition: 0.1s;
}
.movie-list h1{
  color: green;
  margin: 0px 5px;
}
.movie-list h2{
  margin: 0px 5px;
} 
.loader {
  animation-name: loader;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  border-radius: 50%;
  border-top: 1px solid red;
  border-left: 1px solid green;
  width: 60px;
  height: 60px;
}
@keyframes loader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.create-Movie{
  padding: 10px;
  color: goldenrod;
  position: relative;
  left: 403px;
  background-color: cyan;
  max-width: 710px;
  border-top: 1px solid black;
}
.movie-list a{
  color: black;
  text-decoration: none;
}
.movie-list h1{
  margin: 0px 5px;
  color: darkviolet;
}
.movie-list h2{
  margin: 0px 5px;
}
.movie-detail{
  padding: 10px;
  color: goldenrod;
  position: relative;
  left: 403px;
  background-color: antiquewhite;
  max-width: 710px;
  border-top: 1px solid black;
}
.create-movie form{
  position: relative;
  left: 500px;
  display: grid;
  grid-template-columns: 200px 300px;
  row-gap: 10px;
  padding: 30px;
  align-items: center;
  }
  .create-movie form label{
    font-size: 20px;
    font-weight: bold;
    color: red;
  }
  .create-movie form input{
    height: 35px;
    border-radius: 10px;
  }
  .create-movie form input::placeholder{
  padding-left: 10px;
  font-size: 15px;
  }
  .add{
    position: relative;
    left: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  img{
    height: 300px;
    width: 300px;
  }
  .Notfound{
    text-align: center;
    position: relative;
    top: 100px;
    }
    .Notfound a{
      background-color: red;
      position: relative;
      top: 10px;
      padding: 5px;
    }